.daily-report {
    margin-top: 2rem;
    background: #f9f9f9;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .daily-report h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .daily-section {
    margin-top: 1rem;
  }
  
  .daily-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .highlight-today {
    background: #4caf50 !important;
    color: white !important;
    font-weight: bold;
  }
  
  .selected-day {
    background: #1976d2 !important;
    color: white !important;
  }
  .popup-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
.popup-content {
  position: relative;
  background-color: #e2e9bd;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: slideDownFade 0.3s ease-out;
}

.popup-image {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; 
  height: 120px;
}

  
  .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .daily-section {
    margin-top: 1rem;
  }
  
  .daily-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .highlight-today {
    background: #4caf50 !important;
    color: white !important;
    font-weight: bold;
  }
  .calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 450px) {
 .popup-overlay {
    max-width: 100%;
    padding: 20px;
  }

} 