.login-page {
  background-image: url('./backgrounds/loginbackground.png'); 
  background-size: 90%; 
  background-repeat: no-repeat;
  background-position: center; 
  min-height: 100vh;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.login-form-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  margin-left: 55%;
}

.logo {
  text-align: center;
  margin-bottom: 0.5rem;
  top : -10px;
  left : -10px;
}

.logo img {
  height: 60px;
  object-fit: contain;
}

.logo-subtext {
  text-align: center;
  font-size: 2rem;
  color: #035a1a;
  margin-bottom: 1rem;
  font-weight: 700;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

button[type="submit"]{
    width: 100%;
  padding: 0.75rem;
  background-color: #06b74a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}
.signup-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #008077;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

button[type="submit"]:hover{
  background-color: #035464;
}
.signup-button:hover {
  background-color: #04397e;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
}

.top-left-logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

.top-left-logo img {
  height: 50px;
}
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

@media (max-width: 500px) {
  .login-form-container {
    padding: 1.5rem;
    border-radius: 15px;
    margin-left: 0;
  }

  .logo img {
    height: 50px;
  }

  .top-left-logo img {
    height: 40px;
  }

  .login-page {
    background-position: center;
    background-size: cover;
  }
}
